<?xml version="1.0" encoding="UTF-8"?>
  <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <mapper namespace="com.byeon.boot3.board.BoardMapper">
    
    	<!-- boardFiles -->
   		<insert id="setFileAdd" parameterType="BoardFilesVO">
    		INSERT INTO BOARDFILES(FILENUM, NUM, FILENAME, ORINAME)
    		VALUES(NULL, #{num}, #{fileName}, #{oriName})
    	</insert>
    	
    	<select id="getFileList" resultType="BoardFilesVO" parameterType="BoardVO">
    		SELECT * FROM BOARDFILES WHERE NUM=#{num}
    	</select>
    	
    	<select id="getFileDetail" parameterType="BoardFilesVO" resultType="BoardFilesVO">
    		SELECT * FROM BOARDFILES WHERE FILENUM=#{fileNum}
    	</select>
    	
    	<!-- 위 세개만 쓰는중 -->
    
    	<delete id="setFileDelete" parameterType="BoardFilesVO">
    		DELETE FROM BOARDFILES WHERE FILENUM=#{fileNum}
    	</delete>
    	
    
    

    	<!-- board -->
    	<!-- <select id="getDetail" parameterType="BoardVO" resultType="BoardVO">
    		SELECT B.*, BF.* 
    		FROM
    			BOARD B
    				LEFT OUTER JOIN
    			BOARDFILES BF
    			ON B.NUM = BF.NUM
    		WHERE B.NUM=#{num}
    	</select> -->
    	
    	<select id="getDetail" parameterType="BoardVO" resultMap="detailResult">
    		SELECT B.*, BF.* 
    		FROM
    			BOARD B
    				LEFT JOIN
    			BOARDFILES BF
    			<!-- 해당하는것과 갖고오는 컬럼명이 같을때는 USING도 사용 가능 -->
    			<!-- ON B.NUM = BF.NUM -->
    			USING(NUM)
    		<!-- WHERE B.NUM = #{num} -->
    		WHERE NUM = #{num}
    	</select>
    	
		<resultMap type="BoardVO" id="detailResult">
			<id column="num" property="num"/>
			<result column="title" property="title"/>
			<result column="writer" property="writer"/>
			<result column="contents" property="contents"/>
			<result column="hit" property="hit"/>
			<result column="regDate" property="regDate"/>
			<result column="ref" property="ref"/>
			<result column="step" property="step"/>
			<result column="depth" property="depth"/>
			<result column="category" property="category"/>
			<!-- 1대1은 association 1대N은 collection -->
			<collection property="filesVOs" javaType="java.util.List" ofType="BoardFilesVO">
				<id column="fileNum" property="fileNum"/>
				<result column="fileName" property="fileName"/>
				<result column="oriName" property="oriName"/>
			</collection>
		</resultMap>    	

    	<select id="getList" parameterType="Pager" resultType="BoardVO">
    		SELECT * FROM BOARD 
    		WHERE NUM>0 
    		AND 
    		<choose>
		    	<when test="kind == 'col1'">
		    		TITLE
		    	</when>
		    	<when test="kind == 'col2'">
		    		CONTENTS
		    	</when>
		    	<otherwise>
		    		WRITER
		    	</otherwise>
			</choose>
    		LIKE CONCAT('%',#{search},'%')
    		ORDER BY NUM DESC 
    		LIMIT #{startRow}, #{perPage}
    	</select>
    
   		<select id="getTotalCount" parameterType="Pager" resultType="java.lang.Long" >
    		SELECT COUNT(NUM) FROM BOARD
    		WHERE
    		NUM>0
    		AND
    		<choose>
		    	<when test="kind == 'col1'">
		    		TITLE
		    	</when>
		    	<when test="kind == 'col2'">
		    		CONTENTS
		    	</when>
		    	<otherwise>
		    		WRITER
		    	</otherwise>
			</choose>
    		LIKE CONCAT('%',#{search},'%')
    	</select>
    	
    	
    	<insert id="setAdd" parameterType="BoardVO" useGeneratedKeys="true"  keyProperty="num">
    		INSERT INTO BOARD(NUM, TITLE, WRITER, CONTENTS, HIT, REGDATE, REF, STEP, DEPTH, CATEGORY)
    		VALUES(#{num}, #{title}, #{writer}, #{contents}, 0, now(), 0, 0, 0, 1)
    	</insert>
    
    	<update id="setUpdate" parameterType="BoardVO">
    		UPDATE BOARD SET TITLE=#{title}, CONTENTS=#{contents} WHERE NUM=#{num}
    	</update>
    
    	<delete id="setDelete" parameterType="BoardVO">
    		DELETE FROM BOARD WHERE NUM=#{num}
    	</delete>
    	
    	
    
    
    </mapper>